header {
background-color: #0553a6;
color: #FFFFFF;
text-align: center;
max-width: 800px;
margin: 0 auto;
padding: 16px;
}
main {
background-color: #FFFFFF;
color: #183C63;
} 
img {
width: 80px;
height: 80px;
} 