header {
background-color: #000000;
color: #ffffff;
text-align: center;
max-width: 1000px;
margin: 0 auto;
padding: 16px;
}
main {
background-color: #FFFFFF;
color: #183C63;
} 
img {
width: 100px;
height: 100px;
} 